@font-face {
    font-family: "Mako";
    src: url("/fonts/Mako/Mako-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.tt")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto SemiCondensed";
    src: url("/fonts/Roboto/static/Roboto_SemiCondensed-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto SemiCondensed";
    src: url("/fonts/Roboto/static/Roboto_SemiCondensed-BoldItalic.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto SemiCondensed";
    src: url("/fonts/Roboto/static/Roboto_SemiCondensed-Black.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto SemiCondensed";
    src: url("/fonts/Roboto/static/Roboto_SemiCondensed-BlackItalic.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
