.contenedor-contacto {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid #e0e0e0;
    position: relative;
    margin-bottom: 250px;
}
input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #f8feff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    color: #555;
    transition: border-color 0.3s;
}

#boton-enviar {
    width: 20%;
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: #2dafd8;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
#boton-enviar:hover {
    background-color: #238ab3;
}
#comentario-input {
    height: 120px;
    resize: none;
}
.contenedor-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.contenedor-principal {
    height: 100%;
    width: 100%;
    background-image: url("/contacto-fondo.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 820px) {
    .contenedor-contacto {
        margin-bottom: 400px;
    }
}
