@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.tt")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.login-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid #e0e0e0;
    position: relative;
    margin-bottom: 250px;
}

.login-title {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 65px;
    letter-spacing: 1px;
}

.password-container {
    position: relative;
    margin-bottom: 15px;
}

.login-input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #f8feff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    color: #555;
    transition: border-color 0.3s;
}

.login-input:focus {
    border-color: #00a4d4;
    outline: none;
}

.forgot-password {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.9em;
    color: #00a4d4;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 0.95em;
    color: #555;
    font-family: "Roboto", sans-serif;
}

.remember-me-container input[type="checkbox"] {
    margin-right: 8px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #2dafd8;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #238ab3;
}

.register-link-container {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #555;
}

.register-link {
    color: #2dafd8;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    font-family: "Roboto", sans-serif;
}

.register-link:hover {
    color: #238ab3;
    text-decoration: underline;
}

@media (max-width: 820px) {
    .login-card {
        margin-bottom: 400px;
    }

    .login-wrapper {
        padding: 40px;
    }
}
