html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.centrar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}